{% extends "resume/base.html" %}

{% block content %}
{% load static %}

	<div class="education">
		<h1>Projects</h1>
		<div class="slideshow">
			<div class="slide-wrapper">
				{% for project in projects  %}
				<div class="slide">
		
					<form action="{% url 'resume:update_projects' %}" method="POST">
						{% csrf_token %}
						<button class="btn"style="margin-right: 40px;"> Save</button>
						<a class="btn delete" href="projects/delete_projects/{{project.id}}">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</a>
						<h2>Project Name</h2>
						<p>
							<input type="text" name="pname" value="{{project.pname}}">
						</p>
						<h2>Project id</h2>
						<p>
							<input type="text" name="pid" value="{{project.pid}}">
						</p>
						<h2>Start Date</h2>
						<p>
							<input type="text" name="start" value="{{project.startDate}}">
						</p>
						<h2>End Date</h2>
						<p>
							<input type="text" name="end" value="{{project.endDate}}">
						</p>
						<h2>Description</h2>
						<p>
							<textarea name="description"  maxlength="300">{{project.description}}</textarea>
						</p>
						<input name="id" value="{{project.id}}" hidden>
					</form>
				</div>
				{% endfor  %}
				<div class="slide">
					<form action="{% url 'resume:create_projects' %}" method="POST">
						{% csrf_token %}
						<button class="btn" style="margin-right: 65px">Add to your projects</button>
						<h2>Project Name</h2>
						<p>
							<input type="text" name="pname" value="">
						</p>
						<h2>Project id</h2>
						<p>
							<input type="text" name="pid" value="">
						</p>
						<h2>Start Date</h2>
						<p>
							<input type="date" name="start" value="">
						</p>
						<h2>End Date</h2>
						<p>
							<input type="date" name="end" value="">
						</p>
						<h2>Description</h2>
						<p>
							<textarea name="description"  maxlength="300"></textarea>
						</p>
					</form>
				</div>
			</div>
		</div>
		<div class="pagination-btns">
		{% for project in projects  %}		
			<button id="{{project.id}}" name="page"
					class="btn {% if projects.0 == project%} active {% endif %}"
					onClick="slide(id)">
			</button>
		{% endfor  %}
		</div>
		<button class="btn" onClick="newForm()" style="margin-top: 20px;" >+ New project</button>
	</div>

{% endblock %}